/*
 * // This file is part of FAQ.
 * //
 * // FAQ is free software: you can redistribute it and/or modify
 * // it under the terms of the GNU General Public License as published by
 * // the Free Software Foundation, either version 3 of the License, or
 * // (at your option) any later version.
 * //
 * // FAQ is distributed in the hope that it will be useful,
 * // but WITHOUT ANY WARRANTY; without even the implied warranty of
 * // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * // GNU General Public License for more details.
 * //
 * // You should have received a copy of the GNU General Public License
 * // along with FAQ  If not, see <http://www.gnu.org/licenses/>.
 *
 * *
 *  * @package     local_faq
 *  * @author      Charly Piva
 *  * @copyright   2018 Académie de Versailles
 *  * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 *
 */
.card .faq{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.faq{
    padding: 0 0.5rem;
    font-size: 16px;
}
.card{
    margin: auto;
    max-width: 960px
}
.faq a{
    outline: 0;
    border: none;
}
a:hover, a:active{
    text-decoration: none;
    color: #006499;
}

.button-faq{
    background: linear-gradient(to bottom,#f6961d 0%,#e84801 100%);
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    list-style-type: none;
}
.button-faq a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.button-faq a:hover{
    color: black;
}
.button-faq a span{
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(to bottom,#f6961d 0%,#e84801 100%);
    border-top: 2px solid #ecac5f;
    -webkit-box-shadow: 0 7px 10px 2px #a72001;
    box-shadow: 0 7px 10px 2px #a72001;
}
.faq-doc-titre{
    display: inline-block;
}
.faq-doc-titre-retour{
    white-space: nowrap;
}
.faq-sommaire-wrapper{
    padding: 0.5em;
    width: 50%;
    display: inline-block;
}
@media (max-width: 768px) {
    .faq-sommaire-wrapper{
        width: 100%;
    }
}
.faq-sommaire-glyphicon-tuto{
    font-size: 3em;
}
.faq-sommaire-element{
    background-color: rgb(245,245,245);
    border-radius: 6px;
    text-align: center;
    padding: 1em;
    box-shadow: 5px 5px 5px 0px rgba(20,20,20,0.25);
    transition: background-color 0.3s;
}
.faq-sommaire-element:hover{
    background-color: white;
    position: relative;
    bottom: 3px;
    box-shadow: 5px 8px 6px 0px rgba(20,20,20,0.2);
}
.faq-sommaire-element ul, #region-main .faq-sommaire-element ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.faq-sommaire-element-titre{
    color: inherit;
}

.faq-item-titre, .faq-previous-next{
    text-align: center;
}
.faq-previous-next{
    margin-bottom: 1em;
}
.faq-item{
    background-color: white;
    padding: 2em;
    border-radius: 6px;
}
.faq-item h2:first-child {
    margin-top: 0;
}
.faq-item h3{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.faq-item h4,
.faq-item h5,
.faq-item h6{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: LuckiestGuy,Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
    font-variant: small-caps;
    color: #46494d;
}
.faq-item h4{
    font-size: 22px;
}
.faq-item h5{
    font-size: 20px;
}
.faq-item h6{
    font-size: 19px;
}
.faq-item img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/** Inspiré de la classe well **/
.faq-item blockquote{
    color: grey;
    border: 1px solid #e7e7e7;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.05);
    margin-bottom: 10px;
    font-size: 16px;
}
.faq-item table{
    width: 100%;
    border-collapse: collapse;
    border: 1px #ccc solid;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.faq-item thead{
    background-color: grey;
    font-weight: bold;
    color: white;
}
.faq-item th,
.faq-item td{
    padding: 0.5em 0.5em 0.5em 1em;
    border: 1px lightgrey solid;
}
.faq-item th {
    text-align: center;
}
.faq-scolawebtv, .faq-scolawebtv iframe{
    text-align: center;
    max-width: 100%;
}
.faq-retour-sommaire{
    text-align: center;
    font-size: 2em;
    margin: 1em;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .faq-retour-sommaire {
        font-size: 1em;
    }
}

.faq-lien-qestions-reponses {
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

#faq-questionsreponses a {
    text-decoration: none;
}

#faq-questionsreponses p {
    text-align: justify;
}

#faq-questionsreponses .faq-questionsreponses-question {
    background-repeat: no-repeat;
}

#faq-questionsreponses .faq-questionsreponses-question h4 {
    box-sizing: content-box;
    padding-left: 25px;
    background: inherit;
    font-family: sans-serif;
    font-variant: all-petite-caps;
    font-weight: bolder;
}

#faq-questionsreponses .faq-questionsreponses-question[aria-expanded="true"] {
    background-image: url('/theme/vital/pix_core/t/expanded.svg');
}

#faq-questionsreponses .faq-questionsreponses-question[aria-expanded="false"] {
    background-image: url('/theme/vital/pix_core/t/collapsed.svg');
}